body {
    width: 100%;
    height: 100%;
    margin: 0 auto;

}

object {
    height: 70px;
    width: 100%;
    overflow: hidden;
}

.menu-principal {
    width: 100%;
    background-color: darkorange;
    display: flex;
    padding: 5px 0;
    z-index: 999;
    position: relative;
}

.menu-principal .header .logo img {
    width: 160px;
    height: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

.logo {
    display: inline-block;
}


.redes-sociais img {
    width: 35px;

}

.redes-sociais ul {
    display: flex;
    gap: 5px;
    padding: 0;
    margin: 0;
}

.redes-sociais ul li {
    list-style-type: none;
}

.header-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.menu ul li {
    display: inline-block;
    color: darkorange;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

.skick-track {
    width: 100% !important;
    transform: unset !important;
}

.swiper-slide img {
    height: 400px;
    width: 100%;
}

.bloco-logos {
    height: 170px;
}

.footer h3 {
    text-align: left;

}

.footer h3 {
    text-align: left;
    background-color: darkorange;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}

/* .texto-suporte {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
} */

.texto-suporte {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.one,
.two {
    color: #333;
}

.texto-suporte p {
    margin-bottom: 10px;
}

.one {
    font-weight: bold;
}

.two {
    font-style: italic;
}

.texto-suporte p:last-child {
    margin-bottom: 20px;
}

.banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    height: 450px;
}

.funcoes {
    margin-top: 50px;
}

.funcoes .titulo-principal .titulo {
    font-size: 30px;
    color: black;
    text-align: center;
    margin-bottom: 15px;
}

.funcoes .titulo-principal .subtitulo {
    font-size: 16px;
    color: black;
    line-height: 27px;
}

.funcoes .element {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.funcoes .element .imagem {
    text-align: center;
}

.funcoes .element .wrap-titulo {
    background-color: darkorange;
    padding: 3px 0;
    text-align: center;
}

.funcoes .element .titulo {
    font-size: 20px;
    color: white;
    font-weight: 700;
    margin: 0;
}

.funcoes .element .descricao .texto {
    font-size: 13px;
    color: black;
    line-height: 27px;
}

.tabela-financeiro .container-fluid {
    padding: 0;
}

.tabela-financeiro .row {
    width: 100%;
}

.menu-lateral {
    width: 16%;
    background-color: darkorange;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-top: 75px;
}

.conteudo-adm {
    background-color: white;
    width: 100%;
    height: 600px;
}

.footer {
    width: 100%;
    background-color: darkorange;
    padding: 25px 0 5px 0;
    margin-top: 40px;
}

.footer .informacoes-footer {
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.footer .informacoes-footer a {
    font-size: small;
    color: black;
}

.footer .logo {
    text-align: center;
    width: 100%;
}

.footer .logo img {
    height: 40px;
    width: 160px;
}

.footer .redes-sociais ul {
    justify-content: end;

}

.direitos-reservados {
    text-align: center;
    font-size: 11px;
    color: black;
}







.container-suporte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
}

.card {
    background-color: darkorange;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    width: 45%;
    margin-bottom: 20px;
}

.blue {
    background-color: darkorange;
    color: black;
}

.green {
    background-color: darkorange;
    color: black;
}

.orange {
    background-color: darkorange;
    /* Definindo a cor de fundo laranja */
    color: #fff;
}

.one {
    font-weight: bold;
    font-style: italic;
}

.two {
    font-weight: bold;
    font-style: italic;
}

.menu-lateral a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: orange;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

.menu-lateral a:hover {
    background-color: darkorange;
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

.menu-lateral li a:hover {
    color: black
}

.saldo-financeiro {
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 0px;
}

.saldo-financeiro h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.saldo-financeiro p {
    font-size: 18px;
    margin-bottom: 20px;
}

.saldo-financeiro button {
    font-size: 18px;
}


.popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 200;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup .popup-box {
    border: 2px solid #000;
    max-width: 400px;
    width: 80%;
    height: auto;
    position: relative;
    margin: 20px auto;
    padding: 2rem;
    background-color: darkorange;
    border-radius: 10px;
    top: 25vh;
    /* Altere o valor conforme necessário para ajustar o arredondamento dos cantos */
}

.popup .popup-box::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.popup .popup-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup .popup-box form .checkbox-container {
    display: flex;
    align-items: center;
}

.popup .popup-box form .checkbox-container input[type="radio"] {
    margin-right: 5px;
}

.popup .popup-box .popup-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--title-and-item-color);
}

.popup .popup-box form .price-input {
    width: 70%;
    padding: .5rem;
    border: none;
    border-radius: .4rem;
    color: var(--main-color);
}

.popup .popup-box form .submit-popup-button {
    width: 20%;
    padding: .5rem;
    margin-left: 1rem;
    border-radius: .4rem;
    border: 1px solid var(--title-and-item-color);
    color: var(--title-and-item-color);
    background-color: var(--popup-button-bg);
    transition: .5s;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 1000;
    margin-top: 10px;
}

.popup .popup-box form .submit-popup-button:hover {
    background-color: orange;
}

.display-flex {
    display: flex;
}

#agendamento {
    padding: 20px;
}

#agendamento h2 {
    margin-bottom: 10px;
}

#agendamento form {
    margin-bottom: 20px;
}

#agendamento label {
    display: block;
    /* margin-bottom: 5px; */
}

#agendamento input[type="date"],
#agendamento input[type="time"],
#agendamento textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

#agendamento button[type="submit"] {
    background-color: darkorange;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.titulo-operacoes {
    margin: 20px 0 20px 20px;
}


.descricao-input {
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
}

.submit-popup-button {
    /* Outros estilos */
    margin-top: 10px;
    border: 1px solid black;
    /* Adiciona uma margem superior para separar do campo de descrição */
}


.btn-padrao {
    background-color: darkorange;
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    width: 180px;
    display: inline-block;
}

.btn-padrao.login {
    width: 100%;
}

.btn-padrao:hover {
    background-color: orange;
    cursor: pointer;
}

.chart-container {
    width: 50%;
}

textarea:focus,
input:focus,
button:focus {
    outline: unset !important;
}


/* Estilos para os cards de tarefas */
.tarefa-card {
/*     background-color: grey;
    border: 3px solid red; */
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 6px 4px 2px rgba(0, 0, 0, 0.1);
}

.tarefa-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.tarefa-card p {
    margin: 0;
    word-wrap: break-word;
    margin-bottom: 10px;
}

/* Estilos para o formulário de adicionar tarefa */
#form-tarefa {
    margin-bottom: 20px;
}

#form-tarefa input[type="text"],
#form-tarefa input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

#form-tarefa button {
    background-color: darkorange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#form-tarefa button:hover {
    background-color: orange;
}

/* Afasta o conteúdo da gestão de tarefas do header */
.gestao-tarefas {
    /* margin-top: 0px;
    margin-left: 15px; */
    padding: 20px;
}

.gestao-tarefas h1 {
    font-size: 24px;
    margin-bottom: 10px;
}


/* Afasta o conteúdo da gestão de tarefas da barra lateral esquerda */
.gestao-tarefas .menu-lateral {
    margin-left: 20px;
}

/* Adiciona espaçamento inferior aos cards de tarefas */
.tarefa-card {
    margin-bottom: 20px;
    width: 32%;
    background-color: #ffec46;
}

.comentario {
    margin-bottom: 20px;
}

.fixed-comentario {
    width: 100%;
}

.fixed-comentario button {
    width: 150px;
}

/* .comentarios {
    max-height: 300px;
    overflow-y: auto;
} */

.conteudo-comentario,
.conteudo-resposta {
    background-color: white;
    padding: 15px 25px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.conteudo-resposta {
    margin-top: 10px;
    margin-left: 20px;
}

.respostas {
    margin: 0 20px;
}

.resposta-campo {
    padding: 10px 20px;
    height: 150px;
    width: 100%;
    resize: unset;
    margin-bottom: 5px;
}

.resposta {
    padding: 35px;
    background: #e1e1e1;
    color: black;
    margin-bottom: 25px;
    border-radius: 42px;
}

.usuario-pergunta {
    font-size: 14px;
    color: rgb(78 78 78);
    margin-bottom: 0;
}

.usuario-resposta {
    font-size: 14px;
    margin-bottom: 0;
    color: black;
}

.user-comment {
    font-size: 14px;
}


.open-answer {
    cursor: pointer;
    text-decoration: underline;
    color: grey;
    margin-bottom: 8px;
}

.show-box {
    display: block !important;
}

.description-input {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.w-60 {
    width: 60%;
}

.w-100 {
    width: 100%;
}

.float-left {
    float: left;
}

.mb-2 {
    margin-bottom: 1rem;
}

.color-red {
    color: red;
}

.text-center {
    text-align: center;
}

.wrap-faq {
    padding: 20px;
}

.wrap-faq h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#lista-tarefas{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#lista-tarefas .tarefa-card h3{
    font-size: 20px;
}

#agendamento h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#comentario {
    height: 38px;
}

#myChart {
    width: 100% !important;
}

.wrap-radio{
    display: flex;
    align-items: center;
    gap: 20px;
}

.wrap-radio.checkbox{
    gap: 10px
}

.wrap-radio.checkbox label{
   margin: 0;
}

.botao-login-banda {
    width: 100%;
}

.w-100.input-login {
    width: 90%;
}

.exit-banda {
    color: red !important;
    background-color: #c5bebe !important;
    font-weight: 700;
}